html {
  box-sizing: border-box;
  line-height: 1.3;
  color: #222;
  font-family: "Crimson Text", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .85em 1.1em;
  margin: 0;
}

article header {
  padding-top: 0;
  padding-bottom: .75rem;
  border-bottom: 1px solid #555;
}

article {
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: .5rem;
}

article p {
  margin: 1rem 0;
}

article header p {
  font-style: italic;
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: .5em;
}

blockquote {
  margin-top: 1.1rem;
  margin-bottom: 1.12rem;
}
blockquote p {
  color: #555;
  font-size: 1.125rem;
}

.quote {
  color: #999;
  font-size: 1.125rem;
}

article ol {
  padding-left: .75rem;
  line-height: 1.3;
  margin-top: 1.2rem;
  color: #222;
}
