html {
  box-sizing: border-box;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Crimson Text", serif;
  color: #222;
  padding: 1em;
  margin: 0;
  line-height: 1.3rem;
  font-size: 1rem;
}

article header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px #555 solid;
}

article h1 {
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

article p {
  margin: 1.125em 0;
}

article header p {
  font-style: italic;
  font-weight: lighter;
  margin: .25em 0 1em;
}

blockquote {
  color: #999;
  font-size: 1.125rem;
  font-style: normal;
  margin: 2em 1.5em;
}

.quote {
  color: #999;
  font-size: 1.125rem;
  font-weight: lighter;
  font-style: normal;
}

article {
  padding-bottom: 10px;
  border-bottom: 1px #222 solid;
  margin-bottom: 20px;
}

article ol {
  padding-left: 15px;
}
