html {
  box-sizing: border-box;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Crimson Text", serif;
  color : #222;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  line-height: 1.3rem;
  font-size: 1em;
}

article header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px #555 solid;
}

article H1 {
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

article p {
  font-style: italic;
  font-weight: lighter;
  margin: 1.25em 0 1em;
}

blockquote{

}
